<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <script src="https://kit.fontawesome.com/3a9dc7910a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'Css/dashboard.css'%}">
</head>
  <body>
    <div class="main-container">
       <div class="navbar">
        <div class="logo"><h3>ePro<span class="danger">ject</span></h3></div>
        <nav>
          <ul>
              <li class="active"><a href="#"><i class="fa-solid fa-table-cells"></i> Dashboard</a></li>
              <li><a href="#"><i class="fa-solid fa-people-group"></i> Groups</a></li>
              <li><a href="#"><i class="fa-brands fa-buffer"></i> Projects</a></li>
              <li><a href="#"><i class="fa-solid fa-user-group"></i> About us</a></li>
              <li><a href="#"><i class="fa-solid fa-address-card"></i> Contact </a></li>
              <li><a href="#"><i class="fa-solid fa-bell"></i> Notifications</a></li>
              <li><a href="#"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></li>
              
          </ul>
      </nav>
       </div>

        <div class="main-body">
          <div class="header">
            <h3>Dashboard</h3>
          </div>
            <div class="cards">
              <div class="card">
                <h4>Add a user <i class="fa-solid fa-user"></i></h4>
                <a href="#">Add<i class="fa-solid fa-plus"></i></a>
              </div>
              <div class="card">
                <h4>Create  a Group<i class="fa-solid fa-people-group"></i></h4>
                <a href="#">Create<i class="fa-solid fa-circle-plus"></i></a>
              </div>
              <div class="card">
                <h4>Create a project<i class="fa-brands fa-buffer"></i></h4>
                <a href="#">Create<i class="fa-solid fa-circle-plus"></i></a>
              </div>
            </div>


            <div class="manage-project">
              <h3>Manage Projects</h3>
              <div class="table">
                <table>
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Group Name</th>
                      <th>Project Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>Sabs</td>
                      <td>House project 1</td>
                    </tr>
                    <tr>
                      <td>2</td>
                      <td>Yeng</td>
                      <td>House project 2</td>
                    </tr>                    <tr>
                      <td>3</td>
                      <td>Don</td>
                      <td>House project 3</td>
                    </tr>
                    <tr>
                      <td>4</td>
                      <td>Reggea</td>
                      <td>House project 4</td>
                    </tr>
                    <tr>
                      <td>5</td>
                      <td>Joyce</td>
                      <td>House project 5</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

        </div>

        <div class="right-side">
          <div class="user-login">
            <h4>Welcome Sabs!</h4>
            <img src="{% static 'images/download.jpg' %}">
          </div>
          <div class="user-login-anchor">
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Sign Up</a>
          </div>

          <div class="project-activity">
            <table>
              <thead>
                <tr>
                  <th>Cordinator</th>
                  <th>Project</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Sabs</td>
                  <td>Building project 1</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>